<a href="https://colab.research.google.com/github/Hesh0629/Keras-Study/blob/main/pandas_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. 데이터프레임 생성**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

dates = pd.date_range('20210101', periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD')) # 내용물, index 뭘로할지, colum 지정 by 리스트
df

                   A         B         C         D
2021-01-01 -0.433317  0.127577  1.440529  0.436074
2021-01-02 -0.135093  0.830027  0.495609  0.872272
2021-01-03  1.331043  0.357012  1.023385 -0.555051
2021-01-04 -0.971383  0.202735  1.495362  2.596695
2021-01-05  0.059225  0.140948  1.740434  0.985955
2021-01-06  0.673945  0.971399 -0.203895 -1.277451

In [ ]:
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3]*4, dtype='int32'),
                    'E': pd.Categorical(['test', 'train', 'test', 'train']),
                    'F': 'foo'}, index=list('asdf')) #dict 방식으로 col 지정해서 만들기, index는 임의지정
print(df2,"\n")
print(df2.index)
print(df2.columns)

     A          B   C  D      E    F
a  1.0 2013-01-02 NaN  3   test  foo
s  1.0 2013-01-02 NaN  3  train  foo
d  1.0 2013-01-02 NaN  3   test  foo
f  1.0 2013-01-02 NaN  3  train  foo

Index(['a', 's', 'd', 'f'], dtype='object')
Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

**2. 데이터 정렬및 탐색**

In [ ]:
print(df)
print(df.describe()) #data frame의 통계치 보기
print(df.sort_index(axis=1,ascending=False)) #data정렬 by index(axis=0), col(axis=1) order

                   A         B         C         D
2021-01-01 -0.433317  0.127577  1.440529  0.436074
2021-01-02 -0.135093  0.830027  0.495609  0.872272
2021-01-03  1.331043  0.357012  1.023385 -0.555051
2021-01-04 -0.971383  0.202735  1.495362  2.596695
2021-01-05  0.059225  0.140948  1.740434  0.985955
2021-01-06  0.673945  0.971399 -0.203895 -1.277451
              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.087403  0.438283  0.998571  0.509749
std    0.816474  0.370057  0.733757  1.345128
min   -0.971383  0.127577 -0.203895 -1.277451
25%   -0.358761  0.156395  0.627553 -0.307270
50%   -0.037934  0.279873  1.231957  0.654173
75%    0.520265  0.711773  1.481654  0.957535
max    1.331043  0.971399  1.740434  2.596695
                   D         C         B         A
2021-01-01  0.436074  1.440529  0.127577 -0.433317
2021-01-02  0.872272  0.495609  0.830027 -0.135093
2021-01-03 -0.555051  1.023385  0.357012  1.331043
2021-01-04  2.596695  1.495362  0.202735 -0.971383
2021-01-05  0.985955  1.740434  0.140948  0.059225
2021-01-06 -1.277451 -0.203895  0.971399  0.673945

df[ ] 로 검색할때는 df[col 이름], df[시작 인덱스 또는 이름:끝 인덱스 또는 이름]

In [ ]:
print(df[0:1])
print(df['A'],"\ndata type is",type(df['A']))  #원하는 col값 들고오는 방법 (Series). df.A 방식으로도 가능
print(df[0:3],"\ndata type is",type(df[0:3]))  #원하는 index값 들고오는 방법 (Series). 슬라이싱 방식
print(df['2021-01-04':'2021-01-04'])           #원하는 index값 하나 만 들고오는 방법 (평소대로 하다간 col값 들고옴)

                   A         B         C         D
2021-01-01 -0.433317  0.127577  1.440529  0.436074
2021-01-01   -0.433317
2021-01-02   -0.135093
2021-01-03    1.331043
2021-01-04   -0.971383
2021-01-05    0.059225
2021-01-06    0.673945
Freq: D, Name: A, dtype: float64
data type is <class 'pandas.core.series.Series'>
                   A         B         C         D
2021-01-01 -0.433317  0.127577  1.440529  0.436074
2021-01-02 -0.135093  0.830027  0.495609  0.872272
2021-01-03  1.331043  0.357012  1.023385 -0.555051
data type is <class 'pandas.core.frame.DataFrame'>
                   A         B         C         D
2021-01-04 -0.971383  0.202735  1.495362  2.596695

**loc  = 이름을 이용하여 선택하기**  
**iloc = 범위를 이용하여 선택하기**

In [ ]:
print(df.loc['2021-01-04']) #원하는 인덱스의 모든 col 값 들고오는 방법 == df.iloc[3]
print(df.loc['2021-01-02':'2021-01-04',['A','B']])  #원본임 (인덱스, col값)
print("at method\n",df.at['2021-01-02', 'B']) #특정 인덱스, col의 값 들고오는 방법. loc대신 at사용 가능
print("iat method\n",df.iat[0,1])
print("\n",df.iloc[1:2,0:2]) #배열 슬라이싱 하듯 잘라서 가져오기
print("\n",df.iloc[[1,2],[0,2]]) #index col을 리스트 단위로 넘겨서 각각 보는것 가능

#print("\n", df[df > 0]) #조건 검색하는 방법, 조건에 안맞는 값들은 NaN 처리
df['E']=['one', 'one','two','three','four','three']
print("\n", df[df['E'].isin(['two','four'])]) #index 추가하고 그거 기준으로 행 잡는 방법

A      0.54337
B    0.0882006
C     0.159525
D      1.84285
E        three
Name: 2021-01-04 00:00:00, dtype: object
                   A         B
2021-01-02  1.626730  0.648247
2021-01-03  1.112667  0.052476
2021-01-04  0.543370  0.088201
at method
 0.6482469058376059
iat method
 -0.5732077752058966

                   A         B
2021-01-02  1.62673  0.648247

                    A         C
2021-01-02  1.626730 -0.216239
2021-01-03  1.112667 -1.341111

                    A         B         C         D     E
2021-01-03  1.112667  0.052476 -1.341111  0.078194   two
2021-01-05 -1.018659 -0.815275 -0.843382  2.098413  four

**3. 데이터 고쳐 쓰기**  
(사실 검색한 이후 고치면 끝이지만 결측치 처리같은 내용 다룸)

In [ ]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns))
df1.loc[dates[0]:dates[4], 'E'] = 1
df1[df1.loc[:,:'E']<=0]=None
print(df1) #억지로 NaN값 만들기
df1.dropna(how='any') #NaN 값이 있는 행 탈락시키는 방법
print(pd.isna(df1)) #NaN을 True false로 표현
print(df1.fillna(value=0)) #NaN을 0으로 채우기

                   A         B         C         D  E
2021-01-01  0.752725       NaN  0.836968  2.110506  1
2021-01-02  1.626730  0.648247       NaN  1.235885  1
2021-01-03  1.112667  0.052476       NaN  0.078194  1
2021-01-04  0.543370  0.088201  0.159525  1.842855  1
                A      B      C      D      E
2021-01-01  False   True  False  False  False
2021-01-02  False  False   True  False  False
2021-01-03  False  False   True  False  False
2021-01-04  False  False  False  False  False
                   A         B         C         D  E
2021-01-01  0.752725  0.000000  0.836968  2.110506  1
2021-01-02  1.626730  0.648247  0.000000  1.235885  1
2021-01-03  1.112667  0.052476  0.000000  0.078194  1
2021-01-04  0.543370  0.088201  0.159525  1.842855  1

**4. 연산하기**

In [ ]:
print(df1.mean()) #axis 0(default)를 따라 평균연산 -> col기준
print(df1.mean(1)) # axis 1 따라 평균계산 -> index 기준
# df.sub(s, axis=0) axis를 따라서 s에 있는 Series 값들을 빼줌
s = pd.Series(np.random.randint(0, 7, size=10)) 
s.value_counts() #s의 값들이 몇 번 나왔는지 cnt

A    1.008873
B    0.262975
C    0.498247
D    1.316860
E    1.000000
dtype: float64
2021-01-01    1.175050
2021-01-02    1.127715
2021-01-03    0.560834
2021-01-04    0.726790
Freq: D, dtype: float64

3    2
2    2
0    2
6    1
5    1
4    1
1    1
dtype: int64

**5. string 처리하는 방법**

In [ ]:
import pandas as pd
import plotly.express as px
asdf = px.data.gapminder()
asdf.head()

       country continent  year  ...   gdpPercap  iso_alpha  iso_num
0  Afghanistan      Asia  1952  ...  779.445314        AFG        4
1  Afghanistan      Asia  1957  ...  820.853030        AFG        4
2  Afghanistan      Asia  1962  ...  853.100710        AFG        4
3  Afghanistan      Asia  1967  ...  836.197138        AFG        4
4  Afghanistan      Asia  1972  ...  739.981106        AFG        4

[5 rows x 8 columns]

In [ ]:
asdf['source'] = 'gapminder/Afghanistan' #공통 값 추가시
asdf['real_gdp'] = asdf['gdpPercap'] * asdf['pop']  #인덱스별로 값 추가시
asdf.head()

       country continent  year  ...  iso_num                 source      real_gdp
0  Afghanistan      Asia  1952  ...        4  gapminder/Afghanistan  6.567086e+09
1  Afghanistan      Asia  1957  ...        4  gapminder/Afghanistan  7.585449e+09
2  Afghanistan      Asia  1962  ...        4  gapminder/Afghanistan  8.758856e+09
3  Afghanistan      Asia  1967  ...        4  gapminder/Afghanistan  9.648014e+09
4  Afghanistan      Asia  1972  ...        4  gapminder/Afghanistan  9.678553e+09

[5 rows x 10 columns]

In [ ]:
split_res = asdf['source'].str.split("/")
print(split_res.head())
print(type(split_res)) #결과는 series
print(type(split_res[0])) #개별 결과는 list
print(split_res.str[0].head()) #.str을 통해서 리스트 인덱싱 처럼 추출가능
print(split_res.str[1].head())

0    [gapminder, Afghanistan]
1    [gapminder, Afghanistan]
2    [gapminder, Afghanistan]
3    [gapminder, Afghanistan]
4    [gapminder, Afghanistan]
Name: source, dtype: object
<class 'pandas.core.series.Series'>
<class 'list'>
0    gapminder
1    gapminder
2    gapminder
3    gapminder
4    gapminder
Name: source, dtype: object
0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: source, dtype: object

In [ ]:
asdf['foundation_name']=split_res.str[0]
asdf['foundation_country']=split_res.str[1]

In [ ]:
asdf['source']=asdf['source'].str.replace('/','-') # repplace(찾을내용, 바꿀내용). 주의, return 값은 객체임
asdf['source'].head()

0    gapminder-Afghanistan
1    gapminder-Afghanistan
2    gapminder-Afghanistan
3    gapminder-Afghanistan
4    gapminder-Afghanistan
Name: source, dtype: object

In [ ]:
asdf.head()

       country continent  year  ...      real_gdp  foundation_name  foundation_country
0  Afghanistan      Asia  1952  ...  6.567086e+09        gapminder         Afghanistan
1  Afghanistan      Asia  1957  ...  7.585449e+09        gapminder         Afghanistan
2  Afghanistan      Asia  1962  ...  8.758856e+09        gapminder         Afghanistan
3  Afghanistan      Asia  1967  ...  9.648014e+09        gapminder         Afghanistan
4  Afghanistan      Asia  1972  ...  9.678553e+09        gapminder         Afghanistan

[5 rows x 12 columns]